<nav class='navbar navbar-expand navbar-light bg-light'>
    <!-- <a class='navbar-brand'>{{title1}}</a> -->
    <ul class='nav nav-pills'>
        <li><a class="nav-link" routerLink='/Need-Help/my-profile'>My Profile</a></li>
        <li><a class="nav-link" aria-current="page" routerLink='/Need-Help/request'>Request</a> </li>
        <li><a class="nav-link active" routerLinkActive='active' routerLink='/Need-Help/request-status'>Check Request Status</a></li>
        <li><a class="nav-link" routerLink='/Need-Help/modify-details'>Modify Personal Details</a></li>
    </ul>
</nav>
<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Amount</th>
                        <th>Reason</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let request of requests'>
                        <td>{{ request.id }}</td>
                        <td>{{ request.amountOrQuantity | currency: "INR":"symbol"}}</td>
                        <td>{{ request.reason }}</td>
                        <td>{{ request.status }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-footer">
            <button class="btn btn-block btn-outline-secondary" (click)='onBack()'>Back</button>
        </div>
    </div>
</div>