<div class="signinform">
  <!-- <h1>Login Form</h1> -->
  <!-- container -->
  <div class="container">
    <!-- main content -->
    <div class="w3l-form-info">
      <div class="w3_info">
        <h2>Login</h2>
        <form class="login" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
          <div class="input-group">
            <span><i class="fas fa-user" aria-hidden="true"></i></span>
            <input
              type="text"
              placeholder="Username"
              formControlName="username"
            />
            <div
              class="form-control-feedback"
              *ngIf="
                formGroup.controls['username'].touched ||
                formGroup.controls['username'].dirty
              "
            >
              <p *ngIf="formGroup.controls['username'].errors?.required">
                Username Required
              </p>
              <p *ngIf="formGroup.controls['username'].errors?.pattern">
                Enter Valid Username
              </p>
            </div>
          </div>
          <div class="input-group">
            <span><i class="fas fa-key" aria-hidden="true"></i></span>
            <input
              type="Password"
              placeholder="Password"
              required=""
              formControlName="password"
            />
            <div
              class="form-control-feedback"
              *ngIf="formGroup.controls['password'].touched"
            >
              <p *ngIf="formGroup.controls['password'].errors?.required">
                Password Required
              </p>
            </div>
          </div>

          <label *ngIf="!incorrectEmail" style="color: red"
            >Incorrect Email Id or Password</label
          >

          <button
            class="nav-link"
            class="btn btn-primary btn-block"
            type="submit"
          >
            Login
          </button>
        </form>
        <p class="account">
          Don't have an account?
          <a class="nav-link" routerLinkActive="active" routerLink="/Sign-Up"
            >Sign Up for Donor</a
          >
          <a
            class="nav-link"
            routerLinkActive="active"
            routerLink="/Sign-Up-Needy"
            >Sign Up for Needy Person</a
          >
        </p>
      </div>
    </div>
    <!-- //main content -->
  </div>
  <!-- //container -->
  <!-- footer -->
  <div class="footer">
    <p>&copy;NGO Portal</p>
  </div>
  <!-- footer -->
</div>
