<div class="nav navbar">
  <nav id="navbar">
    <div id="logo">
      <img src="../../assets/images/logo.png" alt="" />
      <!-- <div>NGO Portal</div> -->
    </div>
    <ul>
      <li>
        <a
          href="#"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/home"
        >
          Home
        </a>
      </li>
      <li>
        <div *ngIf="loggedInProfile()">
          <a class="nav-link" (click)="routeDashboard()">Dashboard</a>
        </div>
      </li>
    </ul>
    <ul>
      <li><a href="#">About Us</a></li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/Donate-Now"
          >Donate Now</a
        >
      </li>
      <li>
        <a class="nav-link" routerLinkActive="active" routerLink="/Need-Help"
          >Need Help</a
        >
      </li>
    </ul>
    <ul>
      <div id="login">
        <li>
          <div *ngIf="!loggedInProfile()">
            <button
              class="nav-link"
              routerLinkActive="active"
              routerLink="/Sign-In"
              class="btn"
            >
              Sign in
            </button>
          </div>
        </li>
        <li>
          <div *ngIf="!loggedInProfile()">
            <button
              class="nav-link"
              routerLinkActive="active"
              routerLink="/Sign-Up"
              class="btn"
            >
              Sign up
            </button>
          </div>
          <div id="profile" *ngIf="loggedInProfile()">
            <button class="nav-link btn" (click)="routeProfile()">
              Profile
            </button>
            <button
              class="nav-link"
              routerLinkActive="active"
              routerLink="/home"
              class="btn"
              (click)="signOut()"
            >
              Sign Out
            </button>
          </div>
        </li>
      </div>
    </ul>
  </nav>
</div>

<div *ngIf="loginWindow">
  <div id="signinpage" class="modal">
    <div class="modal-header">
      <h4 class="modal-title">Add Employee</h4>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-hidden="true"
      >
        &times;
      </button>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <app-sign-in></app-sign-in>
  </div>
</div>
