.footer-block {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.42857143;
  font-family: "Roboto", sans-serif;
  text-emphasis-color: white;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: #002145;
  padding: 20px 0;
}

.footer {
  background-color: #002145;
}

.row {
  padding: 0px -30px;
}

.listnone {
  color: aliceblue;
}
