<div class="section-space footer">
  <!-- footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-16">
        <div class="row">
          <div class="col-md-2 footer-block">
            <ul class="listnone">
              <li>
                <a href="#" title="Home">Home</a>
              </li>
              <li>
                <a href="#" title="About the Portal">About the Portal </a>
              </li>
              <li>
                <a href="#" title="Site Map">Site Map </a>
              </li>
              <li>
                <a href="#" title="Privacy Policy">Privacy Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 footer-block">
            <ul class="listnone">
              <li>
                <a href="#" title="Link to us">Link to us</a>
              </li>
              <li>
                <a href="#" id="bookmark-this" title="Bookmark This"
                  >Add to favorites
                </a>
              </li>
              <li>
                <a href="#" title="FAQs">FAQs</a>
              </li>
              <li>
                <a href="#" title="Linking Policy">Linking Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 footer-block">
            <ul class="listnone">
              <li>
                <a href="#" title="Terms">Terms of Use </a>
              </li>
              <li>
                <a href="#" title="Help">Help</a>
              </li>
              <li>
                <a href="#" title="Contact us">Contact Us</a>
              </li>
              <li>
                <a href="#" title="Linking Policy">Copyright Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 footer-block footer-contact">
            <img
              alt=""
              src="https://ngodarpan.gov.in/assets/images/QRcode.jpg"
              width="80%"
            />
          </div>
          <div class="col-md-4 footer-block">
            <div class="ft-logo">
              <img
                alt="NIC"
                src="https://ngodarpan.gov.in/assets/images/nic-logo.png"
              />
            </div>
            <p>
              This site is designed, hosted and maintained by National
              Informatics Centre, Ministry of Electronics &amp; Information
              Technology (MeitY), Government of India.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tiny-footer" style="padding-top: 50px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="text-align: center">
          <a
            href="#"
            title="Digital India"
            target="_blank"
            onclick="if (! confirm('This link will take you to an external web site')) { return false; }"
            ><img
              alt="Digital India, External link that opens in new window"
              title="External link that opens in new window"
              src="https://ngodarpan.gov.in/assets/images/digital-india-footer.png"
          /></a>
          <a
            href="http://india.gov.in/"
            title="India Gov"
            target="_blank"
            onclick="if (! confirm('This link will take you to an external web site')) { return false; }"
            ><img
              alt="National Portal, External link that opens in new window"
              title="External link that opens in new window"
              src="https://ngodarpan.gov.in/assets/images/india-gov.png"
          /></a>
          <a
            href="http://planningcommission.gov.in/"
            title="Planning Commission"
            target="_blank"
            onclick="if (! confirm('This link will take you to an external web site')) { return false; }"
          >
            <img
              alt="Planning Commission, External link that opens in new window"
              title="External link that opens in new window"
              src="https://ngodarpan.gov.in/assets/images/planning.jpg"
          /></a>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <div style="text-align: center">
          <span
            style="
              font-size: 85%;
              text-align: center;
              width: 100%;
              color: rgb(255, 255, 255);
            "
            >[Best view in Chrome 56.0 or higher,Firefox 52.0 or higher]</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
