<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Sign Up</h4>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form class="signUp" [formGroup]="signUpForm" (ngSubmit)="save()">
                <div class="form-group row required">
                  <label for="name" class="col-4 col-form-label">Name</label>
                  <div class="col-8">
                    <input
                      id="name"
                      formControlName="name"
                      name="name"
                      placeholder="Name (required)"
                      class="form-control"
                      type="text"
                      [ngClass]="{
                        'is-invalid':
                          (signUpForm.controls.name.touched ||
                            signUpForm.controls.name.dirty) &&
                          !signUpForm.controls.name.valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="signUpForm.controls.name.errors?.required"
                        >Please enter Name.</span
                      >
                      <span *ngIf="signUpForm.controls.name.errors?.pattern"
                        >Name cannot have number or symbol.</span
                      >
                      <span *ngIf="signUpForm.controls.name.errors?.minlength"
                        >Name should have atleast 4 characters.</span
                      >
                    </span>
                  </div>
                </div>
                <div class="form-group row required">
                  <label for="phone" class="col-4 col-form-label"
                    >Phone Number</label
                  >
                  <div class="col-8">
                    <input
                      id="phone"
                      formControlName="phone"
                      placeholder="Mobile Number"
                      class="form-control"
                      type="text"
                      [ngClass]="{
                        'is-invalid':
                          (signUpForm.controls.phone.touched ||
                            signUpForm.controls.phone.dirty) &&
                          !signUpForm.controls.phone.valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="signUpForm.controls.phone.errors?.required"
                        >Please enter Phone Number.</span
                      >
                      <span *ngIf="signUpForm.controls.phone.errors?.pattern"
                        >Phone number cannot be alphabet or symbol.</span
                      >
                      <span *ngIf="signUpForm.controls.phone.errors?.minlength"
                        >Phone number should have atleast 10 digits.</span
                      >
                    </span>
                  </div>
                </div>
                <br />
                <div class="form-group row required">
                  <label for="familyincome" class="col-4 col-form-label"
                    >Family Income</label
                  >
                  <div class="col-8">
                    <input
                      id="familyincome"
                      formControlName="familyIncome"
                      placeholder="Family Income"
                      class="form-control"
                      required="required"
                      type="number"
                      [ngClass]="{
                        'is-invalid':
                          (signUpForm.controls.familyIncome.touched ||
                            signUpForm.controls.familyIncome.dirty) &&
                          !signUpForm.controls.familyIncome.valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span
                        *ngIf="
                          signUpForm.controls.familyIncome.errors?.required
                        "
                        >Please Enter Family Income.</span
                      >
                      <span *ngIf="signUpForm.controls.familyIncome.errors?.min"
                        >Family income must be greater than 0.</span
                      >
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="address" class="col-4 col-form-label"
                    >Login Details:</label
                  >
                  <div class="col-8"></div>
                </div>
                <br />
                <div formGroupName="userLoginDetails">
                  <div class="form-group row required">
                    <label for="username" class="col-4 col-form-label"
                      >User Name</label
                    >
                    <div class="col-8">
                      <input
                        id="username"
                        formControlName="username"
                        placeholder="Username e.g. user@123"
                        class="form-control"
                        required="required"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (userLoginDetails.controls.username.touched ||
                              userLoginDetails.controls.username.dirty) &&
                            !userLoginDetails.controls.username.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span
                          *ngIf="
                            userLoginDetails.controls.username.errors?.required
                          "
                          >Please enter Username.</span
                        >
                        <span
                          *ngIf="
                            userLoginDetails.controls.username.errors?.minlength
                          "
                          >Username should have atleast 3 characters.</span
                        >
                        <span
                          *ngIf="
                            userLoginDetails.controls.username.errors?.pattern
                          "
                          >Symbol should be either @ or #.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="password" class="col-4 col-form-label"
                      >Password</label
                    >
                    <div class="col-8">
                      <input
                        id="password"
                        formControlName="password"
                        placeholder="Password"
                        class="form-control"
                        required="required"
                        type="password"
                        [ngClass]="{
                          'is-invalid':
                            (userLoginDetails.controls.password.touched ||
                              userLoginDetails.controls.password.dirty) &&
                            !userLoginDetails.controls.password.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span
                          *ngIf="
                            userLoginDetails.controls.password.errors?.required
                          "
                          >Please Enter Password.</span
                        >
                        <span
                          *ngIf="
                            userLoginDetails.controls.password.errors?.minlength
                          "
                          >Minimum password length must be 3.</span
                        >
                        <span
                          *ngIf="
                            userLoginDetails.controls.password.errors?.pattern
                          "
                          >Symbol should be either @ or #.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="userType" class="col-4 col-form-label"
                      >User Type</label
                    >
                    <div class="col-8">
                      <input
                        id="userType"
                        formControlName="userType"
                        placeholder="User Type"
                        class="form-control"
                        required="required"
                        type="text"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group row">
                  <label for="address" class="col-4 col-form-label"
                    >Address:</label
                  >
                  <div class="col-8"></div>
                </div>
                <br />
                <div formGroupName="address">
                  <div class="form-group row">
                    <label for="city" class="col-4 col-form-label">City</label>
                    <div class="col-8">
                      <input
                        id="city"
                        formControlName="city"
                        placeholder="City"
                        class="form-control"
                        required="required"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.city.touched ||
                              address.controls.city.dirty) &&
                            !address.controls.city.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.city.errors?.required"
                          >Please Enter City.</span
                        >
                        <span *ngIf="address.controls.city.errors?.pattern"
                          >City cannot be number or symbol.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="state" class="col-4 col-form-label"
                      >State</label
                    >
                    <div class="col-8">
                      <input
                        id="state"
                        formControlName="state"
                        placeholder="State"
                        class="form-control"
                        required="required"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.state.touched ||
                              address.controls.state.dirty) &&
                            !address.controls.state.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.state.errors?.required"
                          >Please Enter State.</span
                        >
                        <span *ngIf="address.controls.state.errors?.pattern"
                          >State cannot be number or symbol.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="landmark" class="col-4 col-form-label"
                      >Landmark</label
                    >
                    <div class="col-8">
                      <input
                        id="landmark"
                        formControlName="landmark"
                        placeholder="Landmark"
                        class="form-control"
                        required="required"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.landmark.touched ||
                              address.controls.landmark.dirty) &&
                            !address.controls.landmark.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.landmark.errors?.required"
                          >Please Enter landmark details.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pin" class="col-4 col-form-label"
                      >Pincode</label
                    >
                    <div class="col-8">
                      <input
                        id="pin"
                        formControlName="pin"
                        placeholder="Pincode"
                        class="form-control"
                        required="required"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.pin.touched ||
                              address.controls.pin.dirty) &&
                            !address.controls.pin.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.pin.errors?.required"
                          >Please Enter Pincode.</span
                        >
                        <span *ngIf="address.controls.pin.errors?.pattern"
                          >Pincode cannot be alphabet or symbol.</span
                        >
                      </span>
                    </div>
                  </div>
                </div>
                <button
                  class="nav-link"
                  class="btn btn-primary btn-block"
                  type="submit"
                  [disabled]="!signUpForm.valid"
                >
                  Submit
                </button>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
