<!DOCTYPE html>
<html lang="en">
    <!-- <head>
        <style>
        body {
          background-image: url('../../../assets/images/banner.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;  
          background-size: cover;
        }
        </style>
    </head> -->
<body>
    <nav class='navbar navbar-expand navbar-light bg-light'>
        <ul class='nav nav-pills'>
            <li><a class="nav-link" routerLinkActive='active' routerLink='/Need-Help/my-profile'>My Profile</a></li>
            <li><a class="nav-link" routerLink='/Need-Help/request'>Request</a></li>
            <li><a class="nav-link" routerLink='/Need-Help/request-status'>Check Request Status</a></li>
            <li><a class="nav-link" routerLink='/Need-Help/modify-details'>Modify Personal Details</a></li>
        </ul>
    </nav>
    <p>needy-person-dashboard works!</p>
</body>

</html>



