body {
    margin: 25px;
    padding: 0px 140px;
    text-align: center;
    left:10px;
    color: black;
    display: table;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
}
.container {
    border: 20px solid tan;
    width: 920px;
    height: 420px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 15px;
}
.logo {
    color: tan;
    border-radius: 10px;
    border-color: black;
}

.marquee {
    color: tan;
    font-size: 48px;
    margin: 20px;
}
.assignment {
    margin: 20px;
}
.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 20px auto;
    width: 400px;
}
.reason {
    margin: 20px;
}

.footer{
    padding: 0px 0px;
}
.foot2{
    text-align: left;
    padding-left: 5px;
    padding-bottom: 28px;
    padding-top: -18px;
    contain: layout;
}

.foot1{
    border-top: 2px solid black;
    width: 253px;
    margin-left: 691px;
    text-align: right;
    padding-top: 12px;
    padding-right: 79px;
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 10px 10px;
    padding: 10px 15px ;
    background: local;
    color: rgb(2, 17, 31);
    border: 2px solid orange;
    border-radius: 17px; 
    cursor:pointer ;
    font-size: 1.0rem;
}
.btn:hover{
    color:black;
    background-color : orange;
}