<body id="contentToConvert">
    <div class="container" id="contentToConvert" *ngIf="donor">
        <div class="logo">
            <img src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/Final_mrhs7b.jpg" height="200"
                width="400">
        </div>
        <div class="marquee">
            Certificate of Donation
        </div>
        <div class="assignment">
            This certificate is presented to
        </div>
        <div class="person">
            {{donorDetail.name}}
        </div>
        <div class="reason">
            “You're braver than you believe,and stronger than you seem,<br>
             and smarter than you think.”
        </div>
        <div class="footer">
            <div class="foot2">
                <b>Date Published: </b>{{donor.dateOfDonation|date : "dd.MM.yyyy"}}
            </div>
        </div>
    </div>
    <div *ngIf="!donor">
        <h1>NO Donation</h1>
    </div>
</body>
<br>
<button class="btn" (click)="generatePDF()" *ngIf="donor">Get Cirtficate</button>
<button class='nav-link btn' (click)="back()">Back</button>