<!-- <p>Cirtficate is also send on you mail</p> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container" id="contentToConvert">
        <div class="logo">
            <img src="https://d2zcpk7yfyf2dq.cloudfront.net/milaap/image/upload/Final_mrhs7b.jpg" height="200"
                width="400">
        </div>

        <div class="marquee">
            Certificate of Donation
        </div>

        <div class="assignment">
            This certificate is presented to
        </div>

        <div class="person">
            Umang Srivastava
        </div>

        <div class="reason">
            Lorem ipsum dolor sit, amet consectetur <br>
            adipisicing elit. Aliquam, harum?
        </div>
        <div class="footer">
            <div class="foot1">
                <b>Signature</b>
            </div>
            <div class="foot2">
                <b>Date Published: </b>dd/mm/yyyy
            </div>

        </div>
        <div>
        </div>
    </div>
</body>

</html>

<br>
<button class="btn" (click)="generatePDF()">Get Cirtficate</button>
<button class='nav-link btn' routerLinkActive='active' routerLink='/Donate-Now'>Back</button>