body, html {
    margin: 0;
    padding: 0;
}
body {
    color: black;
    display: table;
    font-family: Georgia, serif;
    font-size: 24px;
    text-align: center;
}
.container {
    border: 20px solid tan;
    width: 1920px;
    height: 720px;
    display: table-cell;
    vertical-align: middle;
    border-bottom-left-radius: 10px;
}
.logo {
    color: tan;
    border-radius: 10px;
    border-color: black;
}

.marquee {
    color: tan;
    font-size: 48px;
    margin: 20px;
}
.assignment {
    margin: 20px;
}
.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 20px auto;
    width: 400px;
}
.reason {
    margin: 20px;
}

.footer{
    padding: 34px 34px;
}
.foot2{
    text-align: left;
    padding-left: 40px;
    padding-bottom: 80px;
    padding-top: 30px;
    contain: layout;
}

.foot1{
    border-top: 2px solid black;
    width: 250px;
    margin-left: 750px;
    text-align: right;
    padding-top: 30px;
    padding-right: 120px;
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 10px 10px;
    padding: 10px 15px ;
    background: local;
    color: rgb(2, 17, 31);
    border: 2px solid orange;
    border-radius: 17px; 
    cursor:pointer ;
    font-size: 1.0rem;
}
.btn:hover{
    color:black;
    background-color : orange;
}