<div
  class="row"
  style="text-align: justify; padding: 40px; background-color: lightgreen"
>
  <br /><br />
  <div class="col-md-2"></div>

  <div class="col-md-3">
    <div
      class="statistic-box"
      style="
        text-align: center;
        background-color: darkslategrey;
        border-radius: 25%;

        border-color: rgb(255, 255, 255);
        border-width: 5%;
      "
    >
      <h2>
        <br />
        <a
          href="#"
          routerLinkActive="active"
          routerLink="/employee/donation-requests"
          style="text-decoration: none; color: #fff"
          >Donation<br />Section</a
        >
        <br /><br />
      </h2>
    </div>
  </div>
  <div class="col-md-2"></div>

  <div class="col-md-3">
    <div
      class="statistic-box"
      style="
        text-align: center;
        background-color: darkslategrey;
        border-radius: 25%;
      "
    >
      <h2>
        <br />
        <a
          href="#"
          routerLinkActive="active"
          routerLink="/employee/all-needy-person"
          style="text-decoration: none; color: #fff"
          >Needy Person<br />Section</a
        >
        <br /><br />
      </h2>
    </div>
  </div>
</div>

<div class="row" style="padding: 50px; background-color: teal">
  <div class="col-md-4">
    <div class="statistic-box green">
      <div style="text-align: right">
        <img alt="" src="../../../assets/images/varified-icon.png" />
      </div>
      <h2>
        <a
          style="text-decoration: none; color: #fff"
          routerLinkActive="active"
          routerLink="/employee/donated"
          ><p style="font-size: 50px">{{ disListLength }}</p>
        </a>
        <br /><br />
        <a
          routerLinkActive="active"
          routerLink="/employee/donated"
          style="text-decoration: none; color: #fff"
          >Total <br />
          Distributed Donation</a
        >
        <br />
      </h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="statistic-box yellow">
      <div style="text-align: right">
        <a href="#"
          ><img alt="" src="../../../assets/images/varified-icon.png"
        /></a>
      </div>
      <h2>
        <a
          routerLinkActive="active"
          routerLink="/employee/approved"
          style="text-decoration: none; color: #fff"
          ><p style="font-size: 50px">{{ appListLength }}</p>
          <br /><br />
          Total<br />
          Approved Donation
        </a>
        <br />
      </h2>
    </div>
  </div>

  <div class="col-md-4">
    <div class="statistic-box blue">
      <div style="text-align: right">
        <a href="#">
          <img alt="" src="../../../assets/images/varified-icon.png" />
        </a>
      </div>
      <h2>
        <a
          routerLinkActive="active"
          routerLink="/employee/pending"
          style="text-decoration: none; color: #fff"
          ><p style="font-size: 50px">{{ penListLength }}</p>
          <br /><br />
          Total <br />
          Pending Donation</a
        >
        <br />
      </h2>
    </div>
  </div>
</div>
