<nav class="navbar navbar-expand navbar-light bg-light">
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" routerLink="/Need-Help/my-profile">My Profile</a>
    </li>
    <li>
      <a class="nav-link" aria-current="page" routerLink="/Need-Help/request"
        >Request</a
      >
    </li>
    <li>
      <a class="nav-link" routerLink="/Need-Help/request-status"
        >Check Request Status</a
      >
    </li>
    <li>
      <a
        class="nav-link"
        routerLinkActive="active"
        routerLink="/Need-Help/modify-details"
        >Modify Personal Details</a
      >
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>{{ pageTitle }}</h4>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form
                class="createRequest"
                [formGroup]="modifyDetailsForm"
                (ngSubmit)="modifyDetails()"
              >
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label"
                    >Full Name</label
                  >
                  <div class="col-8">
                    <input
                      id="name"
                      name="name"
                      placeholder="Full Name"
                      class="form-control here"
                      formControlName="name"
                      type="text"
                      [ngClass]="{
                        'is-invalid':
                          (modifyDetailsForm.controls.name.touched ||
                            modifyDetailsForm.controls.name.dirty) &&
                          !modifyDetailsForm.controls.name.valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span
                        *ngIf="modifyDetailsForm.controls.name.errors?.required"
                        >Please enter Name.</span
                      >
                      <span
                        *ngIf="modifyDetailsForm.controls.name.errors?.pattern"
                        >Name cannot have number or symbol.</span
                      >
                      <span
                        *ngIf="
                          modifyDetailsForm.controls.name.errors?.minlength
                        "
                        >Name should have atleast 4 characters.</span
                      >
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="number" class="col-4 col-form-label">Phone</label>
                  <div class="col-8">
                    <input
                      id="number"
                      name="number"
                      placeholder="Mobile Number"
                      class="form-control here"
                      formControlName="phone"
                      type="number"
                      [ngClass]="{
                        'is-invalid':
                          (modifyDetailsForm.controls.phone.touched ||
                            modifyDetailsForm.controls.phone.dirty) &&
                          !modifyDetailsForm.controls.phone.valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span
                        *ngIf="
                          modifyDetailsForm.controls.phone.errors?.required
                        "
                        >Please enter Phone Number.</span
                      >
                      <span
                        *ngIf="modifyDetailsForm.controls.phone.errors?.pattern"
                        >Phone number cannot be alphabet or symbol.</span
                      >
                      <span
                        *ngIf="
                          modifyDetailsForm.controls.phone.errors?.minlength
                        "
                        >Phone number should have atleast 10 digits.</span
                      >
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="familyincome" class="col-4 col-form-label"
                    >Family Income</label
                  >
                  <div class="col-8">
                    <input
                      id="familyincome"
                      name="familyincome"
                      placeholder="Family Income"
                      class="form-control here"
                      formControlName="familyIncome"
                      type="number"
                      [ngClass]="{
                        'is-invalid':
                          (modifyDetailsForm.controls.familyIncome.touched ||
                            modifyDetailsForm.controls.familyIncome.dirty) &&
                          !modifyDetailsForm.controls.familyIncome.valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span
                        *ngIf="
                          modifyDetailsForm.controls.familyIncome.errors
                            ?.required
                        "
                        >Please enter Family Income.</span
                      >
                    </span>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="address" class="col-4 col-form-label"
                    >Address:</label
                  >
                  <div class="col-8"></div>
                </div>
                <div formGroupName="address">
                  <div class="form-group row">
                    <label for="city" class="col-4 col-form-label">City</label>
                    <div class="col-8">
                      <input
                        id="city"
                        name="city"
                        placeholder="City"
                        class="form-control here"
                        formControlName="city"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.city.touched ||
                              address.controls.city.dirty) &&
                            !address.controls.city.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.city.errors?.required"
                          >Please Enter City.</span
                        >
                        <span *ngIf="address.controls.city.errors?.pattern"
                          >City cannot be number or symbol.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="state" class="col-4 col-form-label"
                      >State</label
                    >
                    <div class="col-8">
                      <input
                        id="state"
                        name="state"
                        placeholder="State"
                        class="form-control here"
                        formControlName="state"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.state.touched ||
                              address.controls.state.dirty) &&
                            !address.controls.state.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.state.errors?.required"
                          >Please Enter State.</span
                        >
                        <span *ngIf="address.controls.state.errors?.pattern"
                          >State cannot be number or symbol.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="landmark" class="col-4 col-form-label"
                      >Landmark</label
                    >
                    <div class="col-8">
                      <input
                        id="landmark"
                        name="landmark"
                        placeholder="Landmark"
                        class="form-control here"
                        formControlName="landmark"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.landmark.touched ||
                              address.controls.landmark.dirty) &&
                            !address.controls.landmark.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.landmark.errors?.required"
                          >Please Enter landmark details.</span
                        >
                      </span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="pin" class="col-4 col-form-label"
                      >Pincode</label
                    >
                    <div class="col-8">
                      <input
                        id="pin"
                        name="pin"
                        placeholder="Pincode"
                        class="form-control here"
                        formControlName="pin"
                        type="number"
                        [ngClass]="{
                          'is-invalid':
                            (address.controls.pin.touched ||
                              address.controls.pin.dirty) &&
                            !address.controls.pin.valid
                        }"
                      />
                      <span class="invalid-feedback">
                        <span *ngIf="address.controls.pin.errors?.required"
                          >Please Enter Pincode.</span
                        >
                        <span *ngIf="address.controls.pin.errors?.pattern"
                          >Pincode cannot be alphabet or symbol.</span
                        >
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button
                      name="submit"
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!modifyDetailsForm.valid"
                    >
                      Update My Profile
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
