<div class="signinform">
  <!-- <h1>Login Form</h1> -->
  <!-- container -->
  <div class="container">
    <!-- main content -->
    <div class="w3l-form-info">
      <div class="w3_info">
        <h2>Login</h2>
        <form
          class="login"
          [formGroup]="formGroup"
          (ngSubmit)="changePasswordProcess()"
        >
          <div class="input-group">
            <span><i class="fas fa-user" aria-hidden="true"></i></span>
            <input
              type="password"
              placeholder="Enter Old-Password"
              required=""
              formControlName="password"
            />
          </div>
          <div class="input-group">
            <span><i class="fas fa-key" aria-hidden="true"></i></span>
            <label>Old-Password</label>
            <input
              type="Password"
              placeholder="Enter New-Password"
              required=""
              formControlName="newPassword"
            />
          </div>
          <div class="input-group">
            <span><i class="fas fa-key" aria-hidden="true"></i></span>
            <label>New-Password</label>

            <input
              type="Re-Enter New Password"
              placeholder="New-Password"
              required=""
              formControlName="newPassword2"
            />
          </div>
          <div class="form-row bottom">
            <div class="form-check">
              <label>New-Password</label>

              <input
                type="checkbox"
                id="remenber"
                name="remenber"
                value="remenber"
              />
            </div>
          </div>
          <button
            class="nav-link"
            class="btn btn-primary btn-block"
            type="submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
    <!-- //main content -->
  </div>
  <!-- //container -->
  <!-- footer -->
  <div class="footer">
    <p>&copy;NGO Portal</p>
  </div>
  <!-- footer -->
</div>
