<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="../../../assets/images/img_avatar.png" alt="" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5>{{ employee.name }}</h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <p
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                About
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work"></div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <div class="row">
              <div class="col-md-6">
                <label>Employee Id</label>
              </div>
              <div class="col-md-6">
                <p>{{ employee.id }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>Phone</label>
              </div>
              <div class="col-md-6">
                <p>{{ employee.phone }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{ employee.email }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label>Area</label>
              </div>
              <div class="col-md-6">
                <p>{{ employee.address.landmark }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>City</label>
              </div>
              <div class="col-md-6">
                <p>{{ employee.address.city }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>State</label>
              </div>
              <div class="col-md-6">
                <p>{{ employee.address.state }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Pin-Code</label>
              </div>
              <div class="col-md-6">
                <p>{{ employee.address.pin }}</p>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          ></div>
        </div>
      </div>
    </div>
  </form>
</div>
